<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="layout :: htmlhead"></head>

<body>
  <nav th:replace="layout :: menu">(menu)</nav>
  <main>

    <div class="container text-center my-3">
      <div class="mx-auto px-3 py-2"
        style="font-weight: bold; background-color: #F2EDE8; border: 1px solid #9A9A9A; border-radius: 5px; max-width: 400px; width: 100%; height: auto; display: flex; align-items: center; justify-content: center;">
        FUNCIONÁRIOS
      </div>
    </div>

    <div class="container text-center" style="margin-left: 10px;">
      <div class="row align-items-center">
        <div class="col-md-4 d-flex justify-content-start">
          <a th:href="@{/funcionarios/novo}">
            <button type="submit" class="btn btn-primary"
              style="color: black; background-color: rgba(245, 130, 31, 0.3); border: 1px solid #F5821F;">
              <b>Cadastrar novo Funcionário</b>
            </button>
          </a>
        </div>
        <div class="col-md-4 offset-md-4">
          <form class="d-flex" method="get" th:action="@{/funcionarios}">
            <input class="form-control me-2" type="search" name="nome"
              placeholder="Digite o nome do funcionario para pesquisar..." aria-label="Search">
            <button class="btn btn-primary" type="submit" style="background-color: #F5821F; border-color: #F5821F;">Pesquisar</button>
          </form>
        </div>
      </div>
    </div>

    <table class="table" id="tabfuncionarios">
      <thead>
        <tr>
          <th>Código:</th>
          <th>Nome do Funcionário:</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="umFuncionario : ${listaFuncionarios}">
          <td th:text="${umFuncionario.id}"></td>
          <td th:text="${umFuncionario.nomeFuncionario}"></td>
          <td><a th:href="@{'/funcionarios/alterar/' + 
                            ${umFuncionario.id}}" class="btn btn-secondary"
              style="color: black; background-color: rgba(245, 130, 31, 0.3); border: 1px solid #F5821F; margin-left: 5px;">
              <b>Alterar</b>
            </a>

            <button th:data-id="${umFuncionario.id}" type="submit" class="btn btn-primary js-delete"
              style="background-color: #ebb7b7; color: black; border-color: #BB0F0F;">
              <b>Excluir</b>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <div class="modal" tabindex="-1" id="modalfuncionario">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir Funcionário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Confirma a exclusão da funcionário?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" id="btnsim"
            style="background-color: #ebb7b7; color: black; border-color: #BB0F0F;">
            <b>Sim</b>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div th:include="layout :: footer">(footer)</div>
  <script th:src="@{/FuncionarioScript.js}"></script>
</body>

</html>