<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="layout :: htmlhead"></head>

<body>
  <nav th:replace="layout :: menu">(menu)</nav>
  <main>
    <br>

    <div class="container text-center my-3">
      <div class="mx-auto px-3 py-2"
        style="font-weight: bold; background-color: #F2EDE8; border: 1px solid #9A9A9A; border-radius: 5px; max-width: 400px; width: 100%; height: auto; display: flex; align-items: center; justify-content: center;">
        PRODUÇÃO
      </div>
    </div>

    <br>

    <div class="container text-center" style="max-width: 300px; margin-top: 50px;">
      <div class="row align-items-center">
        <div class="col">
          <a href="/ordensProducao"><img src="ordemProducao.png" class="img-thumbnail" alt="clientes"></a>
          <p style="font-weight: bold; font-size: 12px;">CADASTROS ORDENS DE PRODUÇÃO</p>
        </div>
      </div>
    </div>

  </main>
  <div th:include="layout :: footer">(footer)</div>
  <script th:src="@{/ClienteScript.js}"></script>
</body>

</html>