<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="layout :: htmlhead"></head>

<body>
  <nav th:replace="layout :: menu">(menu)</nav>
  <main>

    <br>

    <div class="container text-center my-3">
      <div class="mx-auto px-3 py-2"
        style="font-weight: bold; background-color: #F2EDE8; border: 1px solid #9A9A9A; border-radius: 5px; max-width: 400px; width: 100%; height: auto; display: flex; align-items: center; justify-content: center;">
        CADASTROS BÁSICOS
      </div>
    </div>

    <br>

    <div class="container text-center" style="max-width: 600px;">
      <div class="row align-items-center">
        <div class="col px-3">
          <a href="/clientes"><img src="cliente.png" class="img-thumbnail" alt="clientes"></a>
          <p style="font-weight: bold; font-size: 12px;">CADASTROS CLIENTES</p>
        </div>
        <div class="col px-3">
          <a href="/clientes"><img src="fornecedor.png" class="img-thumbnail" alt="clientes"></a>
          <p style="font-weight: bold; font-size: 12px;">CADASTROS FORNECEDORES</p>
        </div>
      </div>
    </div>



    <div class="container text-center" style="max-width: 600px;">
      <div class="row align-items-center">
        <div class="col px-3">
          <a href="/funcionarios"><img src="funcionario.png" class="img-thumbnail" alt="funcionario"></a>
          <p style="font-weight: bold; font-size: 12px;">CADASTROS FUNCIONÁRIOS</p>
        </div>
        <div class="col px-3">
          <a href="/clientes"><img src="operador.png" class="img-thumbnail" alt="clientes"></a>
          <p style="font-weight: bold; font-size: 12px;">CADASTROS OPERADORES</p>
        </div>
      </div>
    </div>

  </main>
  <div th:include="layout :: footer">(footer)</div>
  <script th:src="@{/ClienteScript.js}"></script>
</body>

</html>